<div class="contact">
  <h1>
    Contact us
  </h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos temporibus sit suscipit deleniti, ullam aspernatur harum veniam consequatur repellendus molestias laboriosam ratione consectetur tempore ipsa, quos necessitatibus exercitationem. Fugit, laboriosam.
  </p>
</div>
<figure>
  <img src="./../../../../assets/images/pexels-negative-space-33999.jpg" alt="Imagen de contacto">
</figure>
<div class="contact-form">
  <div class="contact-form--inf" >
    <h2>
      <strong>Estamos para ayudarte</strong>
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ipsa, blanditiis recusandae aut consectetur qui repellat impedit voluptate maxime porro odit! Sapiente dicta temporibus at. Consequuntur molestiae omnis alias laboriosam!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ex dolores quasi tenetur nemo fuga quisquam obcaecati laboriosam distinctio dolorum delectus, consequuntur ducimus libero tempore culpa repudiandae, incidunt, nisi molestiae.
    </p>
      <ul>
        <li><strong>Dirección: </strong>Calle 21 # 87 A 86 Manizales, Caldas</li>
        <li><strong>Telefono: </strong> 3213654678</li>
        <li><strong>Email: </strong>juanitoclavounclavito@gmail.com</li>
      </ul>
  </div>
  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com">
      </div>
    </div>
    <div class="form-group">
      <label for="inputName">Full Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Full name">
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Calle 45 # 12 A 24">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCountry">Country</label>
        <input type="text" class="form-control" id="inputCountry" placeholder="Colombia">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Manizales">
      </div>
    </div>
    <div class="form-group">
      <label for="Commenst">Commenst</label>
      <textarea class="form-control" id="Commenst" rows="5" placeholder="Dejanos tu opinion, queja, reclamo o pregunta."></textarea>
    </div>
    <button type="reset" class="btn btn-primary">Send</button>
  </form>
</div>
